# Dependencies
node_modules/
package-lock.json

# Local env files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS files
.vscode/
.idea/
Thumbs.db
Desktop.ini

# Local helper files (optional to ignore, but we can keep start.bat)
